.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#nav-bar{
  display: inline-flex;
  float: left;
}

#header {
  height: 20em
}

#menu-playlists-container {
  height: 90em;
}

.card-container{
  flex-direction: row;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  overflow-x: scroll;
  background: blue;
  height: 31em;
}

.playlist-card{
  background: none;
  display: flex;
  margin: 1em 2em;
}

.ui.card{
  margin: 1em 2em;
}

.card-image{
  width: 20em;
}



.ui.card:first-child {
  margin-top: 1em !important;
}



/* .col {
  flex: 1
} */

/* .flex-grid-thirds{
  display: flex;
  justify-content: space-between;
}

.flex-grid-thirds .col {
  width: 28%;
 
}

.flex-grid-thirds .small-col{
  width: 15%
} */

#song-container{
  display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    max-height: 65em;
    bottom: 0;

}



.my-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px
}

.my-column {
  display: flex;
  flex-direction: column;
  width: 23%;
  
}

.add-column{
  display: flex;
  flex-direction: column;
  width: 10%;
  align-items: center;
}

.my-small-column{
  display: flex;
  flex-direction: column;
  width: 10%
}


#shared-song-container{
  display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    max-height: 65em;
    bottom: 0;

}

.my-fourths-column{
  display: flex;
  flex-direction: column;
  width: 30%
}

.my-smaller-column{
  display: flex;
  flex-direction: column;
  width: 5%
}


/* Menu Styling */
.my-menu-item i{
  padding: 7px
}



/* header styling */

#header-text{
  display: inline-flex !important;
  justify-content: left;
  float: left !important;
  margin-top: 12em !important;
  position: absolute;
  left: 17em;
  min-width: fit-content;
  flex-wrap: wrap;
}

#download-button{
  display: inline-flex;
  float: right;
  margin-top: 12em;
  margin-left: 50px;
  position: absolute;
  right: 0;
  padding-top: 7px;
  padding-right: 7px;
}

#user-form{
  float: left !important;
}

#logout-button{
  display: inline-flex;
  float: right;
  padding-right: 7px;
}