.App {
  text-align: center;
  display: flex;
}

#nav-bar-column{
  width: 16%;

}

#stuff-large-column{
  width: 85%
}

.spotify{
  padding-left: 6px;
}

.user-playlist{
  padding: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  pointer-events: none;
}

#login-background{
  background: linear-gradient(-45deg, #abd0f7, #b9f0c2, #d0f2e8, #429bd6);
    width: 100%;
    height: 100vh;
    background-size: 500% 500%;
    animation: gradientBG 3s ease infinite;
}

@keyframes gradientBG{
  0% {
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

#welcome{
  padding-top: 20px;
  padding-bottom: 20px
}

#button-wrapper{
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.shared-button{
  padding-left: 8px;
}

#nav-bar{
  display: inline-flex;
  float: left;
  max-width: 15%;
  position: fixed;
  left: 0;
  height: 90em
}

#header {
  height: 18em
}



.card-container{
  flex-direction: row;
  display: flex;
  flex-flow: row;
  overflow-x: scroll;
  
  height: 35em;
}

.browse-cards{
  flex-wrap: wrap;
  height: 110em;

  
}

.playlist-card{
  background: none;
  display: flex;
  margin: 1em 2em;
  height: 29em
}

.search-card{
  flex-direction: row !important;
  height: 60px !important;
}

.ui.card{
  margin: 1em 2em;
}

.card-image{
  height: 280px !important;
  width: 280px !important;
}

.ui.card>.image>img {
  height: 280px !important;
  width: 280px !important;
}

#search-tracks{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center
}



.ui.card:first-child {
  margin-top: 1em !important;
}


.meta{
  margin-top: 30px  !important;
    float: left !important;
    position: absolute !important;
    margin-left: 70px !important;
}

.search-header{
    margin: 0 !important;
    padding-bottom: 0 !important;
    display: inline !important;
}



/* .col {
  flex: 1
} */

/* .flex-grid-thirds{
  display: flex;
  justify-content: space-between;
}

.flex-grid-thirds .col {
  width: 28%;
 
}

.flex-grid-thirds .small-col{
  width: 15%
} */

#song-container{
  display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 65em;
    margin-bottom: 50px;

}

.playlist-input{
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}



.my-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px
}

.my-row:hover{
  background-color: #f4f5f2
}

.my-column {
  display: flex;
  flex-direction: column;
  width: 23%;
  
}

.add-column{
  display: flex;
  flex-direction: column;
  width: 10%;
  align-items: center;
}

.my-small-column{
  display: flex;
  flex-direction: column;
  width: 10%
}


#shared-song-container{
  display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 65em;
    margin-bottom: 50px;

}

.my-fourths-column{
  display: flex;
  flex-direction: column;
  width: 30%
}

.my-smaller-column{
  display: flex;
  flex-direction: column;
  width: 5%
}


/* Menu Styling */
.my-menu-item i{
  padding: 7px
}



/* header styling */

#header-text{
  display: inline-flex !important;
  justify-content: left;
  float: left !important;
  margin-top: 12em !important;
  position: absolute;
  left: 25em;
  min-width: fit-content;
  flex-wrap: wrap;
}

#download-button{
  display: inline-flex;
  float: right;
  margin-top: 12em;
  margin-left: 50px;
  position: absolute;
  right: 0;
  padding-top: 7px;
  padding-right: 7px;
  margin-right: 70px
}

#user-form{
  float: left !important;
}

#add-user-form{
  width: 190px;
  margin-left: 20px;
    
}

#logout-button{
  display: inline-flex;
  float: right;
  padding-right: 7px;
}

#profile-img{
  border-radius: 50%;
  display: inline-flex;
  margin-right: 6px
}

#display-name{
  padding-top: 10px;
  margin-right: 11px;
  display: inline-flex;
}



/* padding-top: 20px;
    margin-right: 1500px;
    width: 200px; */


    /* search bar styling */


#search-input{
  max-width: 100%;
  margin-left: 25px;
}

.filter-column{
  width: 20%
}


/* .opaque-play-icon{
  opacity: 0 !important
} */

.content-details{
  opacity: 0;
  bottom: 40%;
  position: absolute;
  text-align: center;
  z-index: 0
}


.very-small-cover:hover {
  opacity: 0.3
}

.hover-container{
  text-align: center;
}


.very-small-cover:hover .content-details .fadeIn-top{
 opacity: 1;
 text-align: center
}

.middle{
  transition: .5 ease;
  opacity: 0
}

#clear{
  color: blue
}
